@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap");

html,
body {
  margin: 0;
}

.header {
  position: relative;
  height: 720px;
  background-image: url(../img/bg.svg);
  background-position: center;
  background-size: cover;
}

.header--title,
.header--catch {
  font-weight: 100;
  position: absolute;
  margin: 0;
  font-family: "M PLUS 1p", sans-serif;
  color: #fff;
  width: 100%;
  text-align: center;
}

.header--title {
  font-size: 3rem;
  top: 50%;
  transform: translateY(-50%);
}

.header--catch {
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(2em);
}

.navigation {
  display: contents;
}

.navigation--list {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: flex-end;
}

.navigation--link {
  display: inline-block;
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
}

.section {
  max-width: 800px;
  margin: auto;
  color: #333;
}

.section--heading {
  text-align: center;
}

.section--paragraph {
  margin: 0;
}
